DB_USERNAME=
DB_PASSWORD=

SERVICE_PRICE_DB_URL=
SERVICE_PRICE_DB_USERNAME=
SERVICE_PRICE_DB_PASSWORD=

SERVICE_DRIVER_USER_DB_URL=
SERVICE_DRIVER_USER_DB_USERNAME=
SERVICE_DRIVER_USER_DB_PASSWORD=

SERVICE_PASSENGER_USER_DB_URL=
SERVICE_PASSENGER_USER_DB_USERNAME=
SERVICE_PASSENGER_USER_DB_PASSWORD=

SERVICE_MAP_DB_URL=
SERVICE_MAP_DB_USERNAME=
SERVICE_MAP_DB_PASSWORD=

SERVICE_ORDER_DB_URL=
SERVICE_ORDER_DB_USERNAME=
SERVICE_ORDER_DB_PASSWORD=

NACOS_SERVER_ADDR=
NACOS_USERNAME=
NACOS_PASSWORD=

REDIS_HOST=
REDIS_PORT=
REDIS_DATABASE=

AMAP_KEY=
AMAP_SID=

JWT_SECRET=

ALIPAY_APP_ID=
ALIPAY_APP_PRIVATE_KEY=
ALIPAY_PUBLIC_KEY=
ALIPAY_NOTIFY_URL=
ALIPAY_PROTOCOL=
ALIPAY_GATEWAY_HOST=
ALIPAY_SIGN_TYPE=
